{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
<neos:contentElement node="{node}">
	<f:if condition="{layoutList} == 'Structure50-50'">
		<f:then>
			<div class="percent-one-half"><ts:render path="columnContent1" /></div>
			<div class="percent-one-half column-last"><ts:render path="columnContent2" /></div>
			<div class="clearfix"></div>
		</f:then>
	</f:if>
	<f:if condition="{layoutList} == 'Structure65-35'">
		<f:then>
			<div class="percent-two-third"><ts:render path="columnContent1" /></div>
			<div class="percent-big-half column-last"><ts:render path="columnContent2" /></div>
			<div class="clearfix"></div>
		</f:then>
	</f:if>
	<f:if condition="{layoutList} == 'Structure35-65'">
		<f:then>
			<div class="percent-big-half"><ts:render path="columnContent1" /></div>
			<div class="percent-two-third column-last"><ts:render path="columnContent2" /></div>
			<div class="clearfix"></div>
		</f:then>
	</f:if>
	<f:if condition="{layoutList} == 'Structure33-33-33'">
		<f:then>
			<div class="percent-one-third"><ts:render path="columnContent1" /></div>
			<div class="percent-one-third"><ts:render path="columnContent2" /></div>
			<div class="percent-one-third column-last"><ts:render path="columnContent3" /></div>
			<div class="clearfix"></div>
		</f:then>
	</f:if>
	<f:if condition="{layoutList} == 'Structure25-25-25-25'">
		<f:then>
			<div class="percent-one-fourth"><ts:render path="columnContent1" /></div>
			<div class="percent-one-fourth"><ts:render path="columnContent2" /></div>
			<div class="percent-one-fourth"><ts:render path="columnContent3" /></div>
			<div class="percent-one-fourth column-last"><ts:render path="columnContent4" /></div>
			<div class="clearfix"></div>
		</f:then>
	</f:if>
	<f:if condition="{layoutList} == 'Structure20-20-20-20-20'">
		<f:then>
			<div class="percent-one-fifth"><ts:render path="columnContent1" /></div>
			<div class="percent-one-fifth"><ts:render path="columnContent2" /></div>
			<div class="percent-one-fifth"><ts:render path="columnContent3" /></div>
			<div class="percent-one-fifth"><ts:render path="columnContent4" /></div>
			<div class="percent-one-fifth column-last"><ts:render path="columnContent5" /></div>
			<div class="clearfix"></div>
		</f:then>
	</f:if>
	<f:if condition="{layoutList} == 'Divider'">
		<f:then>
			<div class="separator"></div>
		</f:then>
	</f:if>
	<f:if condition="{layoutList} == 'Spacer'">
		<f:then>
			<div class="space"></div>
		</f:then>
	</f:if>
</neos:contentElement>