{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
<f:security.ifAccess privilegeTarget="TYPO3.Neos:Backend.GeneralAccess">
	<f:then>
		<div class="accordion-group">
			<div class="accordion-heading">
				<span class="accordion-toggle">
					<neos:contentElement.editable property="title">{title -> f:format.raw()}</neos:contentElement.editable>
				</span>
			</div>
			<div class="accordion-body">
				<div class="accordion-inner">
					{contentContainer -> f:format.raw()}
				</div>
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#{node.parent.parent.name}" href="#accordion-{node.name}">
					{title -> f:format.raw()}
				</a>
			</div>
			<div id="accordion-{node.name}" class="accordion-body collapse">
				<div class="accordion-inner">
					{contentContainer -> f:format.raw()}
				</div>
			</div>
		</div>
	</f:else>
</f:security.ifAccess>