{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
<f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
	<f:then>
		{contentContainer -> f:format.raw()}
		<p>
		<neos:contentElement.editable property="caption">{caption -> f:format.raw()}</neos:contentElement.editable>
		</p>
	</f:then>
	<f:else>
		<div class="item">
			{contentContainer -> f:format.raw()}
			<div class="carousel-caption">
				{caption -> f:format.raw()}
			</div>
		</div>
	</f:else>
</f:security.ifAccess>