{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace multicontent=Lelesys\Plugin\MultiContent\ViewHelpers}
<f:if condition="{tabItemCollection}">
	<f:then>
		<ul class="nav nav-tabs" id="tabs-{node.name}">
			<f:for each="{tabItemCollection}" as="tabItem" iteration="tabItemIterator">
				<li{f:if(condition: tabItemIterator.isFirst, then: ' class="active"')}><a data-toggle="tab" href="#tab-{tabItem.name}">{multicontent:value(node: '{tabItem}', property: 'title')}</a></li>
			</f:for>
		</ul>
	</f:then>
</f:if>
<div class="tab-content">
	{tabs -> f:format.raw()}
</div>
