{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
<div class="thumbnail">
	<f:if condition="{image}">
		<f:then>
			<img src="{f:uri.resource(resource: image.resource)}" alt="{title}"/>
		</f:then>
		<f:else>
			<img src="{f:uri.resource(package:'Neos.Neos', path:'Images/dummy-image.png')}" title="Dummy Image" />
		</f:else>
	</f:if>
	<div class="caption">
		<h3><neos:contentElement.editable property="title">{title -> f:format.raw()}</neos:contentElement.editable></h3>
		<p><neos:contentElement.editable property="description">{description -> f:format.raw()}</neos:contentElement.editable></p>
	</div>
</div>