.neos-backend .lelesys-plugin-multicontent-carouselitem .item {
	padding: 10px;
}
.neos-backend .lelesys-plugin-multicontent-tab {
	padding: 7px;
	border: 1px solid #ddd;
}
.neos-backend .lelesys-plugin-multicontent-tabitem {
	padding: 7px;
	border: 1px solid #ddd;
}
.neos-backend .tab-content .tab-pane {
	display: none;
	padding: 3px;
}

.neos-backend .tab-content .active {
	display: block;
}