/********Css for rendering layoutin Multicontent********/
.percent-one-half { width: 48%; }
.percent-one-third { width: 30.66%; }
.percent-two-third { width: 63.34%; }
.percent-one-fourth { width: 22%; }
.percent-one-fifth { width: 16.8%; }
.percent-big-half { width: 32.66%; }
.percent-big-first{width: 70%; }
.percent-small-first{width: 25%; }
.percent-one-half,
.percent-big-first,
.percent-small-first,
.percent-one-third,
.percent-two-third,
.percent-one-fourth,
.percent-one-fifth,
.percent-big-half {margin-right: 4%;float: left;margin-bottom: 20px;}
.column-last {margin-right: 0!important;clear: right;}

/******Responsive structure css for the plugin MultiContent****/
/* Table of Contents
==================================================
	#Mobile - 240px
	#Mobile - 320px
	#Mobile - 480px
	#Tablet - 768px
*/
/* #Mobile - 240px
================================================== */
@media only screen and (max-width: 319px) {
	.percent-one-half,
	.percent-one-third,
	.percent-two-third,
	.percent-one-fourth,
	.percent-one-fifth,
	.percent-big-half,
	.percent-big-first,
	.percent-small-first {
		width: 100%;
	}
}
/*  #Mobile - 320px
================================================== */
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.percent-one-half,
	.percent-one-third,
	.percent-two-third,
	.percent-one-fourth,
	.percent-one-fifth,
	.percent-big-half,
	.percent-big-first,
	.percent-small-first {
		width: 100%;
	}
}
/* #Mobile - 480px
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.percent-one-half,
	.percent-one-third,
	.percent-two-third,
	.percent-one-fourth,
	.percent-one-fifth,
	.percent-big-half,
	.percent-big-first,
	.percent-small-first {
		width: 100%;
	}
}
/* #Tablet - 768px
================================================== */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}
/***********end of css for multicontent structure************/

/******************* css for rendering slider structure************/
.multi-slider .buttons {margin: 4px;position: relative;z-index: 2}
.multi-slider .overview {position: absolute;left: 0 ;top: 0;}
/**********end of css for slider*************/

/***********css for rendering spacer structure*************/
.well-large {
    border-radius: 6px 6px 6px 6px;
    padding: 24px;
}
/******end of css for spacer**************/