/********Css for rendering layoutin Multicontent********/
.percent-one-half { width: 48%; }
.percent-one-third { width: 30.66%; }
.percent-two-third { width: 63.34%; }
.percent-one-fourth { width: 22%; }
.percent-one-fifth { width: 16.8%; }
.percent-big-half { width: 32.66%; }
.percent-one-half,
.percent-one-third,
.percent-two-third,
.percent-one-fourth,
.percent-one-fifth,
.percent-big-half {margin-right: 4%;float: left;margin-bottom: 20px;}
.column-last {margin-right: 0!important;clear: right;}

/******Responsive structure css for the plugin MultiContent****/
/* Table of Contents
==================================================
	#Mobile - 240px
	#Mobile - 320px
	#Mobile - 480px
	#Tablet - 768px
*/
/* #Mobile - 240px
================================================== */
@media only screen and (max-width: 319px) {
	.percent-one-half,
	.percent-one-third,
	.percent-two-third,
	.percent-one-fourth,
	.percent-one-fifth,
	.percent-big-half {
		width: 100%;
	}
}
/*  #Mobile - 320px
================================================== */
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.percent-one-half,
	.percent-one-third,
	.percent-two-third,
	.percent-one-fourth,
	.percent-one-fifth,
	.percent-big-half {
		width: 100%;
	}
}
/* #Mobile - 480px
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.percent-one-half,
	.percent-one-third,
	.percent-two-third,
	.percent-one-fourth,
	.percent-one-fifth,
	.percent-big-half {
		width: 100%;
	}
}
/* #Tablet - 768px
================================================== */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}
/***********end of css for multicontent structure************/

/***********css for rendering toggle structure*************/
.toggle-view {list-style:none;margin:0;	padding:0;}
.toggle-view li {position:relative;}
.toggle-view h5 {cursor:pointer;padding: 0px 10px 0px 23px;}
.toggle-view span {position:absolute;left:0;top:0px;}
.toggle-view .panel {display:none;overflow:hidden;margin-bottom: 10px;}
.toggle-view .panel p:last-child {margin-bottom:0;}
.toggle-plus {background-image: url('../Images/glyphicons-halflings.png');background-position: 0 -92px;background-repeat: no-repeat;float: left;height: 18px;width: 22px;}
.toggle-minus {background-image: url('../Images/glyphicons-halflings.png');background-position: -24px -92px;background-repeat: no-repeat;float: left;height: 18px;width: 22px;}
.backend-plus {position: relative !important;left: 0px;top: 0px;}
/******end of css for toggle**************/

/******************* css for rendering slider structure************/
.multi-slider .buttons {margin: 4px;position: relative;z-index: 2}
.multi-slider .overview {position: absolute;left: 0 ;top: 0;}
/**********end of css for slider*************/