/*
* css for rendering tab structure
*/

.tabs-wrapper {
	width: 100%;
}

.tabs-container {
	float:left;
	position:relative;
	display:block;
	width:100%;
}

.tabs-wrapper .tab-content {
	background:#fff;
	padding:20px;
	overflow:hidden;
	border: 1px solid #EFEFEF;
	border-radius: 0px 3px 3px 3px;
}

ul.tabs {
	float: left;
	height: 34px;
	width: 100%;
	padding-left: 0 !important;
	margin-bottom: 0 !important;
}

.tabs-container p:last-child {
	margin-bottom:0;
}

ul.tabs li {
	float: left;
	padding-left: 0 !important;
	overflow: hidden;
	padding-bottom: 0;
	position: relative;
	text-align:center;
	outline:none;
}

ul.tabs li a {
	height: 34px;
	line-height: 34px;
	text-decoration:none;
	font-size:12px;
	display: block;
	padding: 0 25px;
	outline:none;
	border:1px solid #fff;
	color:#9a9a9a;
}

ul.tabs li:last-child {

}

ul.tabs li a:hover {
	color:#444;
}

ul.tabs li.active a {
	border-top: 1px solid #EFEFEF;
	border-left: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #fff;
	border-radius:3px 3px 0 0;
	color:#444;
}

ul.tabs li.active {
	z-index: 1;
}

ul.tabs li.active, ul.tabs li.active a:hover  {
	background:#fff;
	color:#444;
}