/*
* css for rendering toggle structure
*/

.toggle-view {
	list-style:none;
	margin:0;
	padding:0;
}

.toggle-view li {
	position:relative;
}

.toggle-view li:hover {

}

.toggle-view h5 {
	cursor:pointer;
	padding: 0px 10px 0px 23px;
}

.toggle-view span {
	position:absolute;
	left:0;
	top:0px;
}

.toggle-view .panel {
	display:none;
	overflow:hidden;
	margin-bottom: 10px;
}

.toggle-view .panel p:last-child {
	margin-bottom:0;
}

.toggle-plus {
	background-image: url('../Images/glyphicons-halflings.png');
	background-position: 0 -92px;
	background-repeat: no-repeat;
	float: left;
	height: 18px;
	width: 22px;
}

.toggle-minus {
	background-image: url('../Images/glyphicons-halflings.png');
	background-position: -24px -92px;
	background-repeat: no-repeat;
	float: left;
	height: 18px;
	width: 22px;
}

.backend-plus {
	position: relative !important;
	left: 0px;
	top: 0px;
}